# JS Libraries
__website/d3/*
__website/queue/*

# JS Data
__website/*.json

# SSH Files
.ssh/*

# Website Files
__website/*

# Deprecated Files
deprecated/*
_del_*

# Octave Help Files
octave-workspace

# CSV Files
*.xls
*.xlsx
*.csv

# Compiled files
*.pyc

# iPython Notebooks — generally for testing.
*.ipynb

# OSX Specific System Files
.DS_Store
*.swp
.Spotlight-V100
.Trashes

# Win Specific System Files
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Automaticly added to end of file by tools